.burgerIcon {
    cursor: pointer;
    position: absolute;
    left: 24px;
    top: 34px;
}
.containers {
    background-color: #363740;
    height: 100%;
    width: 255px;
    padding-top: 32px;
}
.containerMobile {
    transition: left 0.5s, right 0.5s;
    position: absolute;
    width: 255px;
    height: 100%;
    z-index: 901
}
.mainContainer{
    height: 100%;
    position: fixed;
}
.mainContainerMobile {
    position: absolute;
    top: 0px;
    left: 0px;
}
.mainContainerExpanded {
    width: 100%;
    min-width: 100vh;
}
.menuItemList {
    margin-top: 52px;
}
.outsideLayer {
    position: absolute;
    width: 100vw;
    min-width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.50);
}
.separator {
    border-top: 1px solid #DFE0EB;
    margin-top: 16;
    margin-bottom: 16;
    opacity: 0.06
}
.hide {
    margin-left: -255px
}
.show {
    left: 0px;
}
.sidebarCard{
    background-color:#363740;
    border-style:"none"
}
.sidebarCardHeader{
    background-color:#363740; 
    padding:0px;
    margin-top:0px
}
.sidebarCardToggle{
    padding:0px;
    margin:0px;
    background-color:#363740;
}
.sidebarCardSubmenu{
    padding:0px; 
    margin:0px; 
    background-color:#535463;    
}
.cardToggle{
    padding:0px;
    margin:0px;
}
.activeBar{
    height: 56px;
    width: 5px;
    background-color: #DDE2FF;
    position: fixed;
    left: 0px
}
.activeContainer{
    background-color: rgba(221,226,255, 0.08)
}
.activeTitle{
    color: #DDE2FF
}
.menuContainer{
    height: 56px;
    width: 255px;
    right:10px;
    position: relative;
    cursor: 'pointer';
    padding-left: 32px;
    padding-right: 32px;
}
.menuContainer:hover{
    background-color: rgba(221,226,255, 0.08)
}
.subMenuContainer{
    height: 56px;
    width: 255px;
    position:'absolute';
    right:10px;
    cursor: 'pointer';
    padding-left: 32px;
    padding-right: 32px;
}
.subMenuContainer:hover{
    background-color: rgba(221,226,255, 0.08)
}

.menutitle{
    font-family: 'Muli';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    padding: 15px;
}

.subMenuImage{
    height: 25px;
    width: 25px;
}

@media(max-width: 768px){
    .containers{
        transition: all 0.3s ease-out;
        position: absolute;
        width: 255px;
        height: 100%;
        z-index: 901
    }
   
  }