@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .loginButton{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .buttons{
      width: 100%;
    }
  }