.contentpage3{
    margin-top: 8px;
    width: 60vw;
    background-color:#F7F8FC;
}
@media(max-width: 1360px){
    .contentpage{
        width: 80vw;
    }
}

.my-modal .modal-content{
    height: 0px;
    width: 0px;
    margin-bottom: 10%;
}

.otherModal .modal-header{
    height: 60px;
}

.createSubPage{
    padding: 20px;
}

.shcenter{
    
    left: 25%;
    max-height: 90vh;
    width: 60vw;
}

label{
    text-align: left;
    padding-bottom: 0.5vh;
}
.MuiBackdrop-root1{
    z-index: 1201;
    color: transparent;
}
.tabroot{
    background-color: #f8f8ff;
    border-style: solid;
    border-top-style: none;
    height: 78vh;
    border-color: #ebeefa;
    border-width: 4px;
}
.MuiTab-wrapper{
    font-family: "Muli";
    font-weight: bolder;
    font-size: 17px;
}