@import url('https://fonts.googleapis.com/css?family=Muli');

.center {
    display: flex;
    justify-content: center;
}

.containerss{
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
.content {
  margin-top: 54px
}

.mainBlock {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 30px;
  margin-left: 245px;
  background-color: #F7F8FC;
}

@media(max-width: 768px){
  .mainBlock{
    margin-left:0
  }
}