.contentpager{
    opacity: 1;
}
@media(max-width: 1360px){
    .contentpage{
        width: 99%;
    }
}
.centerdets{
    margin-left: 32%;
    padding: 30px;
}
.roboimg{
    width: 210px;
    height: 210px;
    margin-left: 7%;
}
.subcard{
    margin-top: 20px;
    padding: 20px;
    font-family: Muli;
    font-weight: bold;
    width: 400px;
}
.accordioncard{
    width: 400px;
    margin-top: 20px;
}
.attribute-display{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}