.contentpager{
    opacity: 1;
}
@media(max-width: 1360px){
    .contentpage{
        width: 99%;
    }
}
.centerdets{
    margin-left: 32%;
    padding: 30px;
}
.roboimg{
    width: 210px;
    height: 210px;
    margin-left: 7%;
}
.subcard{
    margin-top: 20px;
    padding: 20px;
    font-family: Muli;
    font-weight: bold;
    width: 400px;
}
.accordioncard{
    width: 400px;
    margin-top: 20px;
}
.attribute-display{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;   
  }
.paper{
    margin-left: 25em;
    background-color: papayawhip;
    border: '2px solid #000';
    box-shadow: 5;
    padding: (2, 4, 3);
    width: '60%'
  }
.paper_map {
    margin-left:'15em';
    background-color: papayawhip;
    border: '2px solid #000';
    box-shadow: 5;
    padding: (2, 4, 3);
    width: '60%'
    }
.Formlabel {
    font-style: 'Muli';
    font-weight: 'bold';
    }